<br>
<br>
<br>
<br>
<br>
<br>
<div style="container" style="color: #501B1D; text-align:center">
    <h3 style="color: #501B1D; text-align:center"> Select a Spellbook: </h3>
        <div style="color: #501B1D; text-align:center">
        <%= f.collection_select :spellbook_id, Spellbook.all, :id, :title, include_blank: "Select Spellbook" %>
        </div>
    <h3 style="color: #501B1D; text-align:center">Or create a new book: </h3>
    <div style="color: #501B1D; text-align:center">
    <%= f.fields_for :spellbook, spell.build_spellbook do |b| %>
        <%= render partial: "spellbooks/form", locals: { partial_form: b } %>
    <% end %>
    </div>

</div>