<h1>Edit Spell</h1>

<%= render partial: "form" %>

 <style>
body {
  background: url('https://images.unsplash.com/photo-1554467840-4f2d308f5f25?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzJ8fHdpdGNofGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
</style>